body {
    font-family: "Anek Devanagari", sans-serif;
    background: 
        linear-gradient(
            115deg, rgba(36, 106, 115, 0.85), rgba(54, 143, 139, 0.85)
        ), 
        url(images/background-waterfall.jpg);
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: #ebe5dd;
        font-size: 1.2rem;
}

div {
    display: block;
}

.text-center {
    text-align: center;
}

.container {
    width: 100%;
    margin: 35px auto 0 auto;
}

#header {
    padding-bottom: 30px;
}

#title {
    font-weight: 400;
    margin-bottom: -15px;
    margin-top: 0;
}

#description {
    margin: 0;
    font-weight: 200;
    font-style: italic;
    line-height: 2.5;
    
}

#survey-form {
    margin: 0 auto 0 auto;
    display: block;
    background: 
        linear-gradient(
            115deg, rgba(22, 15, 41, 0.5), rgba(91, 62, 168, 0.5)
        );
}