body {
    font-family: "Poppins", sans-serif;
    background: 
        linear-gradient(
            rgba(9, 58, 62, 0.85), rgba(58, 175, 185, 0.85)
        ), 
        url(images/background.jpg);
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: #ebe5dd;
        font-size: 1.1rem;
}




.text-center {
    text-align: center;
}

.container {
    width: 100%;
    margin: 2.1rem auto 0 auto;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.label {
    display: flex;
    margin-left: 20px;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 90%;
    height: 2.1rem;
    font-family: "Poppins", sans-serif;;
    font-size: 1rem;
    border-radius: 6px;
    padding: 0.25rem 0.75rem;
    margin: 0 auto 0 auto;
}

#header {
    padding-bottom: 1.875rem;
}

#title {
    font-weight: 400;
    margin-bottom: -0.1rem;
    margin-top: 0;
}

#description {
    margin: 0;
    font-weight: 200;
    font-style: italic;
    line-height: 1.5; 
}

#survey-form {
    width: 640px;
    margin: 0 auto 0 auto;
    padding: 1.875rem 1.25rem;
    border-radius: 0.313rem;
    display: block;
    background: 
        linear-gradient(
            115deg, rgba(0, 16, 17, 0.65), rgba(5, 37, 40, 0.65)
        );   
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}